{% extends 'base.html' %}
{% block title %}Forkd{% endblock %}
{% block body %}
<h1>Forkd</h1>
<h2>Recipe Journaling and Version Control</h2>
<a href="/users">View all registered users</a>
{% if not session.get('user_id') %}
<div class="container">
<h2>Sign Up</h2>
<form action="/users" method="POST" role='form'>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="confirmPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="container">
<h2>Log In</h2>
<form action="/login" method="POST" role='form'>
  <div class="mb-3">
    <label for="login_id" class="form-label">Username or Email</label>
    <input type="text" class="form-control" name="login_id">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% else %}
<p>Hi {{session.get('username')}}</p>
{% endif %}
{% endblock %}