{% extends 'base.html' %}
{% block title %}Add New Recipe{% endblock %}
{% block body %}
<h1>Add a new recipe</h1>
<h2>Retrieve from a url</h2>
<div class="container">
    <form id="urlForm">
        <div class="mb-3">
            <label for="givenUrl" class="form-label">URL</label>
            <input type="url" id="givenUrl" class="form-control" name="givenUrl" required>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<h2>...from scratch:</h2>
<div class="container">
<form action="/newRecipe" method="POST" role='form' id="recipeForm">
<div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" id="title" class="form-control" name="title" required>
</div>
<div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <textarea id="desc" class="form-control" rows="2" name="description"></textarea>
</div>
<div class="mb-3">
    <label for="ingredients" class="form-label">Ingredients</label>
    <textarea id="ingredients" class="form-control" rows="5" name="ingredients" required></textarea>
</div>
<div class="mb-3">
    <label for="instructions" class="form-label">Instructions</label>
    <textarea id="instructions" class="form-control" rows="5" name="instructions" required></textarea>
</div>
<div class="mb-3">
    <label for="url" class="form-label">Source URL</label>
    <input type="text" id="url" class="form-control" name="url">
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
{% block after_body %}
<script>
    // script to extract things from the given url and populate the title etc on the below form
    // API call to server that will call Spoonacular (server as middleman to keep API key secret)
    // get the title, description if there is, ingredients (need to un-analyze their analyzed ingredients), and instructions
    // fill in the form below
    const recipeTitleField = document.querySelector('#title'); //text
    const recipeDescField = document.querySelector('#desc'); //textarea
    const recipeIngField = document.querySelector('#ingredients'); //textarea
    const recipeInstField = document.querySelector('#instructions'); //textarea
    const recipeURLField = document.querySelector('#url'); //text
    const urlForm = document.querySelector('#urlForm');
    urlForm.addEventListener('submit', (evt) => {
        evt.preventDefault();
        const givenURL = document.querySelector('#givenUrl').value;
        // console.log(`/api/extractRecipe?url=${givenURL}`)
        // get the extracted recipe from server, which gets it from spoonacular
        fetch(`/api/extractRecipe?url=${givenURL}`)
            .then((response) => response.json())
            .then((data) => {
                // fill in the data in the recipe form
                const {title, desc, ingredients, instructions} = data;
                console.log(title, desc, ingredients, instructions);
                recipeTitleField.value = title;
                recipeDescField.value = desc;
                recipeInstField.value = instructions;
                ingredientsText = '';
                for(const ingredient of ingredients){
                    ingredientsText += `${ingredient.original}\n`;
                }
                recipeIngField.value = ingredientsText;
            });

        recipeURLField.value = givenURL;
    });
</script>
{% endblock %}