{% extends 'base.html' %}
{% block title %}{{recipe.edits[0].title}}{% endblock %}
{% block body %}
<div class="container">
<h1>{{recipe.edits[0].title}}</h1>
<div class="d-flex justify-content-between">
<h4>- {{owner.username}}</h4>
{% if session.get('user_id') %} 
<form action="/newRecipe" method="POST" id="recipeForm">
    <input type="hidden" id="title" name="title" value="{{recipe.edits[0].title}}">
    <input type="hidden" id="desc" name="description" value="{{recipe.edits[0].description}}">
    <input type="hidden" id="ingredients" name="ingredients" value="{{recipe.edits[0].ingredients}}">
    <input type="hidden" id="instructions" name="instructions" value="{{recipe.edits[0].instructions}}">
    <input type="hidden" name="forked-from" value="{{recipe.id}}"/>
    <button id="fork" type="submit" class="btn btn-secondary">Fork this recipe!</button>
</form>
</div>
{% endif %}
<div class="row">
<div class="col-md-7">
<h2>Description</h2>
<div class="newline">{{recipe.edits[0].description}}</div>
<h2>Ingredients</h2>
<div class="newline">{{recipe.edits[0].ingredients}}</div>
<h2>Instructions</h2>
<div class="newline">{{recipe.edits[0].instructions}}</div>
</div>
<div class="col-md-5">
<h2>Timeline</h2>
    {% if session.get('user_id') == owner.id %}
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary" id="add-experiment" href='/newExp?recipe={{recipe.id}}'>Add an experiment</button> 
        <button type="button" class="btn btn-outline-secondary" id="add-edit" href='/newEdit?recipe={{recipe.id}}'>Add an edit</button> 
    </div>
    {% endif %}
    <div class="accordion" id="timeline">
    {% for item in timeline_items[:-1] | sort(attribute='commit_date', reverse=True) %}
    <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed timeline-item" id="{{item.id}}_button" type="button" 
        data-bs-toggle="collapse" data-bs-target="#{{item.id}}">
        {{item}}
        </button>
    </h2>
    <div id="{{item.id}}" class="accordion-collapse collapse timeline-item-details {{item.htmlclass}}">
    </div>
    </div>
    {% endfor %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed timeline-item" id="{{timeline_items[-1].id}}_button" type="button" 
            data-bs-toggle="collapse" data-bs-target="#{{timeline_items[-1].id}}">
            Recipe Created {{timeline_items[-1].commit_date}}
            </button>
        </h2>
    <div id="{{timeline_items[-1].id}}" class="accordion-collapse collapse timeline-item-details createEdit"></div>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block after_body %}
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css" />

<!-- Javascripts -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.1.0/diff.js" integrity="sha512-Q54KM8pgGVaei1v6v/rbidhylhT8uSv1Vr/eL13GtbXEyVLSIt7PI6DN2gH0/lMBpGyQrFe6SHV25Vnvsodwtg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/timeline.js"></script>
{% endblock %}