{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block body %}
<div class="container">
<h1>{{user.username}}</h1>
{% if session.get('user_id') == user.id %}
    <button hrf="/newRecipe" type="button" class="btn btn-secondary">+ Add a new recipe</button>
{% endif %}
<div class="list-group">
    {% for recipe in user.recipes %}
    <a href="/{{user.username}}/{{recipe.id}}" 
    class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5>{{recipe.edits[0].title}}</h5>
        <small>{{recipe.edits[0].commit_date}}</small>
    </div>
    <p class="mb-1 text-truncate">{{recipe.edits[0].description}}</p>
    </a>
    {% endfor %}
</div>
</div>
{% endblock %}