{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}
{% block body %}
<style>
    #delete-recipe {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s liner;
    }
    /* .list-group-item-action:hover > #delete-recipe { */
    .list-group-item-action:hover > span > #delete-recipe {
        visibility:visible;
        opacity:1;
        z-index: 22000;
    }
    .list-group-item > a {
        text-decoration: none;
    }
</style>

<div class="container">
<h1>{{user.username}}</h1>
{% if session.get('user_id') == user.id %}
    <a href="/newRecipe" role="button" class="btn btn-secondary">+ Add a new recipe</a>
{% endif %}
<div class="list-group">
    {% for recipe in user.recipes %}
    <li class="list-group-item list-group-item-action position-relative">
{% if session.get('user_id') == user.id %}
        <span class="position-absolute top-50 end-0 translate-middle-y">
            <button id="delete-recipe" class="btn btn-outline-danger" type="button" 
            data-bs-toggle="modal" data-bs-target="#confirm-recipe-delete-modal" data-bs-href="/api/{{user.username}}/{{recipe.id}}">
                <i class="bi-trash"></i>
            </button></span>
{% endif %}
    <a class="text-body" href="/{{user.username}}/{{recipe.id}}" >
        <div class="d-flex w-100 justify-content-between">
            <h5>{{recipe.edits[0].title}}</h5>
            <small>{{recipe.edits[0].commit_date}}</small>
        </div>
        <p class="mb-1 text-truncate">{{recipe.edits[0].description}}</p>
    </a>
    </li>
    {% endfor %}
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm-recipe-delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Delete the recipe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">This will delete this recipe and <strong>all related edits and experiments</strong>. <br /><strong>It cannot be undone.</strong><br/>Are you sure you want to delete this recipe?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block after_body %}
<script>
document.querySelector('#confirm-recipe-delete-modal').addEventListener('show.bs.modal', (evt)=>{
    const confirmDeleteButton = document.querySelector('.modal-footer > .btn-danger');
    confirmDeleteButton.href = evt.relatedTarget.getAttribute('data-bs-href');
    console.log(evt.relatedTarget.getAttribute('data-bs-href'));
});

document.querySelector('.modal-footer > .btn-danger').addEventListener('click', (evt) => {
    const url = evt.target.href;
    fetch(url, {method:'DELETE'})
        .then(() => window.location.reload());
});
</script>
{% endblock %}